/* Global Styles */

* {
  outline: 1px dashed red;
  font-family: Arial, sans-serif;
}

.clearfix {
  clear: both;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* Header Styles */
#header_bar {
  max-height: 9em;
}

#header_bar ul {
  max-width: 52%;
  max-height: 5em;
  margin: 0 auto;
  left: 24%;
  right: 24%;
}

#header_bar ul li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;
  width: 32.65%;
}

.handle {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  background-color: #282c34;
  text-align: center;
  padding: 1em 0;
  display: none;
}

/* Body Styles */

header, footer {
  width: 1400px;
  width: 100%;
  height: 5em;
  background-color: #282c34;
  color: #fff;
}

#banner, #sub_banner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

}

#banner {
  height: 460px;
}

#banner h1 {
  text-align: center;
  font-size: 35px;
  height: 80px;
  padding: 180px 0;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

#sub_banner {
  height: 670px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

/* Footer Styles */

footer {
  background-color: #282c34;
}

footer ul {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  max-height: 50px;
  height: 100%;
}

footer ul li {
  display: inline-block;
  padding: 5%;
  max-width: 20px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  margin: 0 15.77%;
}

@media screen and (max-width:745px) {
  #header_bar ul li {
    display: inline-block;
    text-align: center;
    padding: 2em 0;
    width: 32%;
  }
}

@media screen and (max-width:640px) {
  .handle {
    display: block;
  }

  .active {
    max-height: 9em;
  }

  #header_bar ul {
    max-width: 100%;
    max-height: 100%;
    background-color: #282c34;
  }

  #header_bar ul li {
    box-sizing: border-box;
    text-align: center;
    padding: 1em 0;
    width: 100%;
  }

  #header_bar ul li:hover {
    background-color: #111;
    transition: .2s;
  }
}
